.small {
  font-size: 12px;
  line-height: normal;
}
.nowrap {
  white-space: nowrap;
}
.extrabold {
  font-weight: 800;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.italic {
  font-style: italic;
}