////////// - Colors - //////////
$font-stack: 'Open Sans', Helvetica, sans-serif;
$color: rgba(24,24,24,1);
$color-s: rgba(24,24,24,0.25);
$color-m: rgba(24,24,24,0.5);
$color-l: rgba(24,24,24,0.75);
$color-red: rgba(235,87,87,1);
$color-blue: rgba(5,126,240,1);
$color-blue-s: rgba(5,126,240,0.5);
$color-blue-m: rgba(5,126,240,0.75);
$color-blue-l: rgba(5,126,240,0.85);